<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nepal Climate Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="container">
            <h1>Solar Planning</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="left-half">
            <div class="select-district">
                <h2>Select District</h2>
                <form action="{{ url_for('process_data') }}" method="post">
                    <select id="districts" name="district" style="width: 100%;">
                        <option value="default" selected disabled>Select District</option>
                    </select>
                    <button type="submit" style="margin-top: 10px;">Estimate</button>
                </form>
            </div>

            <div class="predictions">
                <h2>Predictions</h2>
                <p>{{prediction}} KW</p>
                <p>Important Note:
                    The power estimation provided by our machine learning model is an estimate based on various factors, including geographical data, weather patterns, and historical solar irradiance. It is important to acknowledge that, like any predictive model, the accuracy of the estimation may be subject to certain limitations and uncertainties.</p>
                <p>Use as a Reference:

                    The power estimation provided should be considered as a reference or approximation. It is not intended to replace professional advice or detailed site assessments. For critical decision-making processes, we recommend consulting with experts in the field and conducting on-site evaluations.</p>
               
            </div>

        </div>

        <div class="right-half">
            <div class="district-info">
                <h2>District Information</h2>
                <p>District Name: {{district}}</p>
                <p>Longitude: {{longitude}}</p>
                <p>Latitude: {{latitude}} </p>
                
            </div>
            <div class="climate-data">
                <h2>Parameters</h2>
                <p>Temperature: <span id="temperature">{{temperature}}</span></p>
                <p>Humidity: <span id="humidity">{{humidity}}</span></p>
                <p>Pressure: <span id="pressure">{{pressure}}</span></p>
                <p>Shortwave Radiation: <span id="shortwave_radiation">{{shortwave_radiation}}</span></p>
                <p>Wind Speed at 10m: <span id="wind_speed_10m">{{wind_speed_10m}}</span></p>
                <p>Wind direction at 10m: <span id="wind_direction_10m">{{wind_direction_10m}}</span></p>
                <p>Wind speed at 80m: <span id="wind_speed_80m">{{wind_speed_80m}}</span></p>
                <p>wind direction at 80m: <span id="wind_direction_80m">{{wind_direction_80m}}</span></p>
                <p>wind speed at 900mb: <span id="wind_speed_900mb">{{wind_speed_900mb}}</span></p>
                <p>wind direction at 900mb: <span id="wind_direction_900mb">{{wind_direction_900mb}}</span></p>
                <p>wind gust at 10m: <span id="wind_gust_10m">{{wind_gust_10m}}</span></p>
                <p>Radiation Angle: <span id="angle">{{angle}}</span></p>
                <p>Zenith: <span id="zenith">{{zenith}}</span></p>
                <p>Azimuth: <span id="azimuth">{{azimuth}}</span></p>
            </div>
        </div>

    </div>
   
    <script src="/static/js/populateDistricts.js"></script>

</body>
</html>
